beautifulsoup4==4.5.1
bs4==0.0.1
click==6.6
DateTime==4.1.1
google-api-python-client==1.5.3
httplib2==0.9.2
lxml==3.6.4
python-env==1.0.0
requests==2.14.2
tqdm==4.8.4
gunicorn==19.7.1
arrow==0.10.0
Flask==0.12.2
Flask-Script==2.0.6
PyYAML==3.12
APScheduler==3.3.1
