
{% extends "layout.html" %}

{% block head %}
    {% block title %}
    <title>{{ title }}</title>
    {% endblock %}
{% endblock %}


{% block content %}
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
        <h1 class="title has-text-grey-dark">
            Chronos 
            <a class="icon" href="https://github.com/axelbellec/chronos">
                <i class="fa fa-github"></i>
            </a>
        </h1>
        <h2 class="subtitle">
            Outil de transfert des EDT vers <strong>Google Agenda</strong>.
        </h2>
            <div class="notification has-text-grey-dark">
                Dernière mise à jour de Chronos : {{ last_update_time }}
            </div>              
        </div>
    </div>
</section>              

<div class="container is-widescreen">
    {% for school_year, attrs in data.items() %}
    <section class="section">
        <details>
        <summary>
            Promo <a href="{{ attrs.google_calendar_url }}}"><strong>{{ attrs.description }}</strong></a>
        </summary>
        <p>
            Lien du calendrier Google Agenda:
            <code>{{ attrs.google_calendar_id }}</code>
        </p>
        </details>
        <nav class="level">
            <div class="level-left">
                <div class="level-item has-text-justified">
                    <div class="notification">
                            L'emploi du temps a été mis a jour.<br><i>{{ attrs.update_time }}</i> - <code>[{{school_year|upper}}]</code>
                    </div>
                </div>     
            </div>    
            <div class="level-right">
                <div class="level-item has-text-right">
                    <i>{{ attrs.update_time_humanized }}</i>
                </div>
                {% if not "jour" in attrs.update_time_humanized %}
                <div class="level-item">
                    <span class="tag is-warning is-medium">
                        Nouveau
                    </span>                                                
                </div>
                {% endif %}
            </div>    
        </nav>        
    </section>
{% endfor %}
</div>

{% endblock %}
