<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">
    {% block head %}
        {% block page_title %}{% endblock %}
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
        <p>
            <strong>Chronos</strong> by <a href="http://github.com/axelbellec">Axel Bellec</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
        <p>
            <a class="icon" href="https://github.com/axelbellec/chronos">
            <i class="fa fa-github"></i>
            </a>
        </p>
        </div>
    </div>
</footer>    
</html>
